.upperBox{
  height :10%;
  background: linear-gradient(to top right, #bdc3c7DC 33%, #2c3e50 	 74%);
}
.inputSearch{
  height: 30px; 
  width: 50%;
  margin-left: 25%;
  margin-top: 30px;
  padding-left: 20px;
  border-radius: 2em;
}
input:focus, textarea:focus {
  outline: none;
}
.infoDiv{
  margin: 0 auto;
}