
<div class="upperBox">
  <input type="text" name="githubUrl"  class="inputSearch" placeholder="Enter GitHub Repo URL to open editor view.." [(ngModel)]="githubUrl" />
</div>
<app-githubview-component [sourceUrl]="githubUrl" *ngIf="githubUrl"></app-githubview-component>
<div *ngIf="!githubUrl"  style="text-align:center;margin-top:20%">
  <span class="infoDiv">
    <h3>A code viewer designed exclusively to read code from github repo as in visual studio code built in angular</h3>
    <h3>You can even use the Github Repo URL of same project hosted at</h3>
    <h3>https://github.com/nitinkalenk/githubAngular</h3>
    <br>
    <h4>Just copy and paste above URL in textbox...</h4>
  </span>  
</div>
